<div class="col-md-12">
  <div ng-include src="'app/admin/parts/nav.html'"></div>
    <h1 style="display:inline-block;">{{currentCompany}}</h1>
      <button type="button" ng-click="updateCompany();" class="btn btn-default">
        <span class="glyphicon glyphicon-pencil"></span>
        Edit Company
      </button>

      <br>

  <button style="display:inline-block;" type="button" ng-click="startCreating();" class="btn btn-default">
    <span class="glyphicon glyphicon-plus"></span>
    Create Group
  </button>
  <input type="text" placeholder="Group Name">

  <table class="table table-striped">
    <thead>
      <tr>
        <th>Training Group Name</th>
        <th>Auththentication Code:</th>
        <th>Clicks Remaining</th>
        <th>Report</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{company.name}}</td>
        <td>CompanyName-201412345</td>
        <td>{{company.remaining}}</td>
        <td><button type="button" ng-click="updateCompany();" class="btn btn-default">
              <span class="glyphicon glyphicon-list-alt"></span>
            </button>
        </td>
        <td>
          <div class="btn-group" role="group" aria-label="...">
            <button type="button" class="btn btn-default">
                <span class="glyphicon glyphicon-pencil"></span>
            </button>
            <button type="button" class="btn btn-default">
                <span class="glyphicon glyphicon-remove"></span>
            </button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
  {{company}}
</div>
