<!DOCTYPE html>
<HTML>
    <head>
        <meta charset="utf-8">
        
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <link rel="stylesheet" type="text/css" href="/resource/css/reset.css">
        <link rel="stylesheet" type="text/css" href="/resource/css/iu.css">
        <link rel="stylesheet" type="text/css" href="/resource/css/index.css">

        <script src='http://code.jquery.com/jquery-1.10.2.js'></script>
        <script src='http://code.jquery.com/ui/1.9.2/jquery-ui.js'></script>
        <script type="text/javascript" src="/resource/js/jquery.event.swipe.js"></script>
        <script type="text/javascript" src="/resource/js/iuframe.js"></script>
        <script type="text/javascript" src="/resource/js/iu.js"></script>
        <script type="text/javascript" src="/resource/js/iucarousel.js"></script>
        <script type="text/javascript" src="/resource/js/iuevent.js"></script>
        <script type="text/javascript" src="/resource/js/index-init.js"></script>

        <!--[if lt IE 9]>
         <script type="text/javascript" src="/resource/js/ie/jquery.backgroundSize.js"></script>
         <script type="text/javascript" src="/resource/js/ie/respond.min.js"></script>
         <![endif]-->
        
    </head>
    <body>
<div id="index" class='IUPage IUSheet IUBox  index' >
  <div id="Header" class='IUHeader IUBox  Header'>
    <h1 id="Box1" class='IUBox  Box1' horizontalCenter='1'>
      <p>Header Area</p>  
    </h1>
  </div>
  <div id="pageContent" class='IUPageContent IUBox  pageContent'>
    <div id="Section1" class='IUSection IUBox  Section1'>
      <div id="Box2" class='IUBox  Box2' horizontalCenter='1'>
        <p>Content Area</p>  
      </div>
      <div id="Box3" class='IUBox  Box3' horizontalCenter='1'>
        <p>Double-click to edit text<br><br>This box has absolute-center position.<br>For free movement, see the position at the right.</p>  
      </div>
    </div>
  </div>
</div>

    </body>
</HTML>


