<div class="col-md-12" ng-controller="AdminCtrl">
  <div ng-include src="'app/admin/parts/nav.html'"></div>
    <h1>Admin Interface</h1>
    <button type="button" ng-click="addCompany();" class="btn btn-default" style="display:inline-block;">
      <span class="glyphicon glyphicon-plus"></span>
      Create Company
    </button>
    <input type="text" placeholder="Company Name" ng-model="newCompany.name">

    <input class="pull-right" type="text" placeholder="Company Search" ng-model="search.$">





    <table class="table table-striped">
      <thead>
        <tr>
          <th>Company Name</th>
          <th>Clicks Remaining</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        <tr class="repeated-item" ng-repeat="company in companies | filter:search">
          <td><a ng-href="#/company/{{company.$id}}">{{company.name}}</a></td>
          <td>{{company.remaining}}</td>
          <td>{{company.status}}</td>
          <td>{{company}}</td>
          <td>{{company.$id}}</td>
          <td>{{$value}}</td>
        </tr>

      </tbody>
    </table>
    {{companies}}
</div>
