extends ../../../views/layout

block content

	form(action='sessions', methond='post')
		label
			| Username
			input(type='text', name='user')
		label 
			| Password
			input(type="password", name='password')
		input(type='submit', name='Submit')